---
http_interactions:
- request:
    method: get
    uri: https://api.bandsintown.com/artists/Blame%20Sally/events?api_version=2.0&app_id=test&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0be1771512632186d38077daa208e023"'
    body:
      encoding: US-ASCII
      string: ! '[{"venue":{"country":"United States","city":"San Francisco","name":"The
        Chapel","longitude":"-122.4214360","latitude":"37.7605720","region":"CA"},"description":null,"on_sale_datetime":null,"ticket_url":"http:\/\/www.bandsintown.com\/event\/6431919\/buy_tickets?app_id=test&artist=Blame+Sally","formatted_datetime":"Saturday,
        April 27, 2013 at 9:00pm","datetime":"2013-04-27T21:00:00","facebook_rsvp_url":"http:\/\/www.bandsintown.com\/event\/6431919\/facebook_rsvp?app_id=test&artist=Blame+Sally&came_from=67","ticket_type":"Tickets","facebook_share_url":null,"artists":[{"name":"Blame
        Sally","thumb_url":"http:\/\/www.bandsintown.com\/BlameSally\/photo\/small.jpg","facebook_tour_dates_url":"http:\/\/bnds.in\/HQt8jZ","image_url":"http:\/\/www.bandsintown.com\/BlameSally\/photo\/medium.jpg","mbid":"b30ac2b1-a4fc-45a3-98ff-9087a6a10208"}],"title":"Blame
        Sally @ The Chapel in San Francisco, CA","id":"6431919","ticket_status":"available","formatted_location":"San
        Francisco, CA"},

        {"venue":{"country":"United States","city":"Sacramento","name":"Harlow''s
        Restaurant and Nightclub","longitude":"-121.4703840","latitude":"38.5740110","region":"CA"},"description":null,"on_sale_datetime":null,"ticket_url":"http:\/\/www.bandsintown.com\/event\/6347303\/buy_tickets?app_id=test&artist=Blame+Sally","formatted_datetime":"Sunday,
        April 28, 2013 at 7:00pm","datetime":"2013-04-28T19:00:00","facebook_rsvp_url":"http:\/\/www.bandsinto[...]
