---
http_interactions:
- request:
    method: get
    uri: https://api.bandsintown.com/artists/My%20Morning%20Jacket?api_version=2.0&app_id=test
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"f71ae1412f3e37311757d098764b8aad"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"mbid":"ea5883b7-68ce-48b3-b115-61746ea53b8c","upcoming_events_count":0,"image_url":"http:\/\/www.bandsintown.com\/MyMorningJacket\/photo\/medium.jpg","thumb_url":"http:\/\/www.bandsintown.com\/MyMorningJacket\/photo\/small.jpg","name":"My
        Morning Jacket","facebook_tour_dates_url":"http:\/\/bnds.in\/zTPiUu"}'
  recorded_at: Thu, 21 Feb 2013 20:11:50 GMT
recorded_with: VCR 2.4.0
