---
http_interactions:
- request:
    method: get
    uri: https://api.bandsintown.com/artists/My%20Morning%20Jacket?api_version=2.0&app_id=test
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"fbe55cb891ef55f0f9e6ab5a29ef70a1"'
    body:
      encoding: US-ASCII
      string: ! '{"upcoming_events_count":0,"thumb_url":"http:\/\/www.bandsintown.com\/MyMorningJacket\/photo\/small.jpg","name":"My
        Morning Jacket","image_url":"http:\/\/www.bandsintown.com\/MyMorningJacket\/photo\/medium.jpg","mbid":"ea5883b7-68ce-48b3-b115-61746ea53b8c","facebook_tour_dates_url":"http:\/\/bnds.in\/zTPiUu"}'
  recorded_at: Thu, 21 Feb 2013 00:31:15 GMT
recorded_with: VCR 2.4.0
