---
http_interactions:
- request:
    method: get
    uri: https://api.bandsintown.com/artists/Be%252FNon?api_version=2.0&app_id=test&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"bdf1577ae15a7f3b2d7e95c27251691d"'
    body:
      encoding: US-ASCII
      string: ! '{"facebook_tour_dates_url":null,"thumb_url":"http:\/\/www.bandsintown.com\/Be%252FNon\/photo\/small.jpg","image_url":"http:\/\/www.bandsintown.com\/Be%252FNon\/photo\/medium.jpg","upcoming_events_count":1,"name":"Be\/Non","mbid":"a0abad13-cd8a-4d85-8fd7-eb1e5295411d"}'
  recorded_at: Mon, 22 Apr 2013 22:24:02 GMT
recorded_with: VCR 2.4.0
