---
http_interactions:
- request:
    method: get
    uri: https://api.bandsintown.com/artists/My%20Morning%20Jacket?api_version=2.0&app_id=test&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"5e4bd78181166d050303722eb1bf586b"'
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"image_url":"http:\/\/www.bandsintown.com\/MyMorningJacket\/photo\/medium.jpg","name":"My
        Morning Jacket","mbid":"ea5883b7-68ce-48b3-b115-61746ea53b8c","thumb_url":"http:\/\/www.bandsintown.com\/MyMorningJacket\/photo\/small.jpg","facebook_tour_dates_url":"http:\/\/bnds.in\/zTPiUu","upcoming_events_count":0}'
  recorded_at: Mon, 22 Apr 2013 22:11:28 GMT
recorded_with: VCR 2.4.0
