---
http_interactions:
- request:
    method: get
    uri: https://api.bandsintown.com/artists/will.i.am?api_version=2.0&app_id=test&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"549c6124d1ad1958ab50e2ec39f887f6"'
    body:
      encoding: US-ASCII
      string: ! '{"thumb_url":"http:\/\/www.bandsintown.com\/will.i.am\/photo\/small.jpg","facebook_tour_dates_url":null,"name":"will.i.am","upcoming_events_count":2,"mbid":"d574c9bd-46f6-440a-8d6a-8412a283eeb1","image_url":"http:\/\/www.bandsintown.com\/will.i.am\/photo\/medium.jpg"}'
  recorded_at: Mon, 22 Apr 2013 22:24:03 GMT
recorded_with: VCR 2.4.0
